<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="_frecuenciaForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" readonly>
            <mat-icon matSuffix>turned_in_not</mat-icon>
            <mat-error *ngIf="_frecuenciaForm.get('id').hasError('required')">
              El campo ID es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Dias</mat-label>
            <input matInput formControlName="dias">
            <mat-icon matSuffix>keyboard</mat-icon>
            <mat-error *ngIf="_frecuenciaForm.get('dias').hasError('required')">
              El campo Dias es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Frecuencia de Pago</mat-label>
            <input matInput formControlName="frecuenciaPago">
            <mat-icon matSuffix>keyboard</mat-icon>
            <mat-error *ngIf="_frecuenciaForm.get('frecuenciaPago').hasError('required')">
              El campo Frecuencia de Pago es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>CNBV</mat-label>
            <input matInput formControlName="cnbv">
            <mat-icon matSuffix>keyboard</mat-icon>
            <mat-error *ngIf="_frecuenciaForm.get('cnbv').hasError('required')">
              El campo CNBV es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>BC</mat-label>
            <input matInput formControlName="bc">
            <mat-icon matSuffix>library_books</mat-icon>
            <mat-error *ngIf="_frecuenciaForm.get('bc').hasError('required')">
              El campo BC es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>CC</mat-label>
            <input matInput formControlName="cc">
            <mat-icon matSuffix>library_books</mat-icon>
            <mat-error *ngIf="_frecuenciaForm.get('cc').hasError('required')">
              El campo CC es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!_frecuenciaForm.valid"
                    [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
