<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            CREAR TELEFONO</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="_telefonosForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" readonly>
            <mat-icon matSuffix>turned_in_not</mat-icon>
            <mat-error *ngIf="_telefonosForm.get('id').hasError('required')">
              El campo ID es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre Persona</mat-label>
            <mat-select formControlName="nombre">
              <mat-option *ngFor="let item of nombreCombo" [value]="item.id">{{item.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="_telefonosForm.get('nombre').hasError('required')">
              Nombre Persona es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-slide-toggle formControlName="activo">Activo</mat-slide-toggle>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-slide-toggle formControlName="principal">Principal</mat-slide-toggle>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo">
              <mat-option value="Celular">Celular</mat-option>
              <mat-option value="Casa">Casa</mat-option>
            </mat-select>
            <mat-error *ngIf="_telefonosForm.get('tipo').hasError('required')">
              Tipo es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Compañia</mat-label>
            <mat-select formControlName="compania">
              <mat-option value="Celular">Telcel</mat-option>
              <mat-option value="Casa">AT&T</mat-option>
              <mat-option value="Celular">Movistar</mat-option>
              <mat-option value="Casa">Unefon</mat-option>
            </mat-select>
            <mat-error *ngIf="_telefonosForm.get('compania').hasError('required')">
              Compañia es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Lada</mat-label>
            <input matInput formControlName="lada">
            <mat-icon matSuffix>library_books</mat-icon>
            <mat-error *ngIf="_telefonosForm.get('lada').hasError('required')">
              El campo Lada es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono">
            <mat-icon matSuffix>library_books</mat-icon>
            <mat-error *ngIf="_telefonosForm.get('telefono').hasError('required')">
              El campo Telefono es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>extencion</mat-label>
            <input matInput formControlName="extencion">
            <mat-icon matSuffix>library_books</mat-icon>
            <mat-error *ngIf="_telefonosForm.get('extencion').hasError('required')">
              El campo extencion es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Observaciones</mat-label>
            <input matInput formControlName="observaciones">
            <mat-icon matSuffix>library_books</mat-icon>
            <mat-error *ngIf="_telefonosForm.get('observaciones').hasError('required')">
              El campo Observaciones es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!_telefonosForm.valid"
                    [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
