<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="_contactosForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" readonly>
            <mat-icon matSuffix>turned_in_not</mat-icon>
            <mat-error *ngIf="_contactosForm.get('id').hasError('required')">
              El campo ID es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre Persona</mat-label>
            <mat-select formControlName="nombre">
              <mat-option *ngFor="let item of nombreCombo" [value]="item.id">{{item.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="_contactosForm.get('nombre').hasError('required')">
              Nombre Persona es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Relacion</mat-label>
            <mat-select formControlName="relacion">
              <mat-option *ngFor="let item of relacionCombo" [value]="item.id">{{item.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="_contactosForm.get('relacion').hasError('required')">
              Relacion es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Persona</mat-label>
            <input matInput formControlName="persona">
            <mat-icon matSuffix>library_books</mat-icon>
            <mat-error *ngIf="_contactosForm.get('persona').hasError('required')">
              El campo Persona es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!_contactosForm.valid"
                    [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
