<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            Solicitudes</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>

  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="_solicitudesForm" (ngSubmit)="submit">

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" readonly>
            <mat-icon matSuffix>turned_in_not</mat-icon>
            <mat-error *ngIf="_solicitudesForm.get('id').hasError('required')">
              El campo ID es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo" (selectionChange)="cargarCombo($event.value)">
              <mat-option value="Personas">Persona</mat-option>
              <mat-option value="Negocios">Negocio</mat-option>
            </mat-select>
            <mat-error *ngIf="_solicitudesForm.get('tipo').hasError('required')">
              Tipo es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <mat-select formControlName="nombre">
              <mat-option *ngFor="let n of nombreCombo" [value]="n.id">{{n.descripcion}}</mat-option>
            </mat-select>
            <mat-icon matSuffix>keyboard</mat-icon>
            <mat-error *ngIf="_solicitudesForm.get('nombre').hasError('required')">
              El campo Nombre es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha Solicitud</mat-label>
            <input matInput [matDatepicker]="DatepickerSolicitud" name = "fechaSolicitud" formControlName="fechaSolicitud" >
            <mat-datepicker-toggle matSuffix [for]="DatepickerSolicitud"></mat-datepicker-toggle>
            <mat-datepicker #DatepickerSolicitud></mat-datepicker>
            <mat-error *ngIf="_solicitudesForm.get('fechaSolicitud').hasError('required')">
              Fecha Solicitud es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Sucursal</mat-label>
            <mat-select formControlName="sucursal">
              <mat-option *ngFor="let item of sucursalCombo" [value]="item.id">{{item.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="_solicitudesForm.get('sucursal').hasError('required')">
              Sucursal es requerida
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Producto</mat-label>
            <mat-select formControlName="producto">
              <mat-option *ngFor="let item of productoFinancieroCombo" [value]="item.id">{{item.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="_solicitudesForm.get('producto').hasError('required')">
              Producto es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Ejecutivo</mat-label>
            <mat-select formControlName="ejecutivo">
              <mat-option *ngFor="let item of empleadosCombo" [value]="item.id">{{item.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="_solicitudesForm.get('ejecutivo').hasError('required')">
              Ejecutivo es requerida
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Promotor</mat-label>
            <mat-select formControlName="promotor">
              <mat-option *ngFor="let item of empleados2Combo" [value]="item.id">{{item.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="_solicitudesForm.get('promotor').hasError('required')">
              Promotor es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Concepto de Inversion</mat-label>
            <input matInput formControlName="concetoInversion">
            <mat-error *ngIf="_solicitudesForm.get('concetoInversion').hasError('required')">
              Concepto de Inversion es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numero de Amortizaciones</mat-label>
            <input matInput formControlName="numeroAmortizaciones">
            <mat-error *ngIf="_solicitudesForm.get('numeroAmortizaciones').hasError('required')">
              Numero de Amortizaciones es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha Entrega</mat-label>
            <input matInput [matDatepicker]="DatepickerEntrega" name = "fechaEntrega" formControlName="fechaEntrega" >
            <mat-datepicker-toggle matSuffix [for]="DatepickerEntrega"></mat-datepicker-toggle>
            <mat-datepicker #DatepickerEntrega></mat-datepicker>
            <mat-error *ngIf="_solicitudesForm.get('fechaEntrega').hasError('required')">
              Fecha Entrega es requerida
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha de Primer Amortizacion</mat-label>
            <input matInput [matDatepicker]="DatepickerPrimerAmortizacion" name = "fechaPrimerAmortizacion" formControlName="fechaPrimerAmortizacion" >
            <mat-datepicker-toggle matSuffix [for]="DatepickerPrimerAmortizacion"></mat-datepicker-toggle>
            <mat-datepicker #DatepickerPrimerAmortizacion></mat-datepicker>
            <mat-error *ngIf="_solicitudesForm.get('fechaPrimerAmortizacion').hasError('required')">
              Fecha de Primer Amortizacion es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Tasa</mat-label>
            <input matInput formControlName="tasa">
            <mat-error *ngIf="_solicitudesForm.get('tasa').hasError('required')">
              Tasa es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!_solicitudesForm.valid"
                    [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
