<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="_archivosForm" (ngSubmit)="submit">

<!--      <div class="row">-->
<!--        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mb-2">-->
<!--          <mat-form-field class="example-full-width" appearance="outline">-->
<!--            <mat-label>Tipo de Archivo</mat-label>-->
<!--            <mat-select formControlName="tipoArchivo">-->
<!--              <mat-option value="INE">INE</mat-option>-->
<!--              <mat-option value="Pasaporte">Pasaporte</mat-option>-->
<!--              <mat-option value="ComprobanteDomicilio">Comprobante de Domicilio</mat-option>-->
<!--            </mat-select>-->
<!--            <mat-error *ngIf="_archivosForm.get('tipoArchivo').hasError('required')">-->
<!--              Tipos de Archivo es requerido-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">-->
<!--          <input type="file"  (change)="onFileChange($event)"/>-->
<!--        </div>-->
<!--      </div>-->

      <mat-tab>
        <mat-card class="p-0" *ngIf="thumbnail !== undefined">
          <mat-card-content>
            <div class="mb-16">
              <img src="{{ruta + 'thumbnail/expediente/' + thumbnail + '?pc=80'}}">
            </div>
          </mat-card-content>
        </mat-card>

        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">perm_media</mat-icon>
          Imagen
        </ng-template>
        <mat-card class="p-0">
          <mat-card-content>
            <div class="mb-16">
              <p>Archivo</p>
              <input type="file" ng2FileSelect [uploader]="uploader"/>
            </div>

            <div class="mb-16">
              <div ng2FileDrop
                   [ngClass]="{'dz-file-over': hasBaseDropZoneOver}"
                   (fileOver)="fileOverBase($event)"
                   [uploader]="uploader"
                   class="fileupload-drop-zone mb-24">
                Arrastra el archivo aqui
              </div>
            </div>

            <table class="default-table mat-box-shadow mb-24" style="width: 100%">
              <thead>
              <tr>
                <th width="30%">Nombre</th>
                <th>Tamaño</th>
              </tr>
              </thead>
              <tbody *ngIf="uploader.queue.length; else tableNoData">
              <tr *ngFor="let item of uploader.queue">
                <td>{{ item?.file?.name }}</td>
                <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              </tr>
              </tbody>
              <ng-template #tableNoData>
                <p [ngStyle]="{padding: '0 1.2rem'}">Lista vacia</p>
              </ng-template>
            </table>
            <div>
              <button
                mat-raised-button
                color="warn"
                class="mx-4"
                (click)="uploader.clearQueue()"
                [disabled]="!uploader.queue.length">Quitar archivo</button>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!_archivosForm.valid"
                    [mat-dialog-close]="1" (click)="confirmAdd()">Cargar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

